body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header{
    margin: 0;
    padding: 0;
    
    width: 100%;
}

#portfolioTitle{
    margin: 0;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #e4e3e3;
    text-align: center;
    color:#84a9ac;
    font-size: 24pt;
}

nav{
    margin:0;
    padding: 0;
    background-color: #204051;
    color: white;
}

.nav_menu{
    margin:0;
    padding:0; 
    list-style: none;
    text-align: center;
}

nav ul li{
    margin:0;
    transition: 0.5s;
    display: inline-block;
    padding-top:20px;
    width: 200px;
    height: 40px;
    font-size: 14pt;
}

nav ul li:hover{
    transition: 0.5s;
    background-color: #3b6978;
}

nav ul a{
    text-decoration: none;
    color: white;
}

#profile_introduction{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e4e3e3;
    display: flex;
}

#my-picture{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    
    width: 50%;

    text-align: right;
    
}

#my-picture img{
    display: inline-block;
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

#introduction_text{
    
    margin: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 50%;
    display: inline-block;
    text-align: center;
}

#introduction_text_subdiv{
    padding-right: 200px;
}

#about_me, #my_works{
    padding: 40px;
    background-color:#84a9ac;
    color: white;
}

#about_me h1{

    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right:40%;

    width: 20%;
    height: auto;
    background-color:#e4e3e3;
    color: black;
}
#about_me h1{
    text-align: center;
}

#about_me p{
    padding: 20px;
    background-color: #3B6978;
    color: white;
    text-align: justify;
}

#my_talents{
    padding: 40px;
    background-color: #e4e3e3;
    display: flex;
}

#my_talents_text{
    width: 50%;
    display: inline-block;
}

#my_talents p{
    text-align: justify;
}

#my_talents_pictures{
    display: inline-block;
    text-align:center;
    padding: 50px;
    width: 50%;
}

#english_icon, #computer_image, #webdev_icon{
    margin:5px;
    width: 150px;
}

#unity_icon{
    width: 300px;
}

#my_works_IntroText{
    text-align: center;
}

#my_works_IntroText h1{
    margin-top: 0;
    font-size: 32pt;
}

#my_works img{
    width: 50%;
}


#game_design, #Unity3D, #Web_Development{
    background-color:#3B6978;
    display: flex;
}

#game_design_title{
    margin: 0px;
    display: inline-block;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url(../Assets/Game_Design_Background_Cropped.png);
    background-size: cover;
    width: 747px;
    height: 400px;
}

#game_design_title h2{
    left: 37%;
    font-size: 24pt;
}

.MyWorks_texts{
    display: inline-block;
    text-align: center;
    text-align: justify;

    font-size: 14pt;
}

#game_design_text{
    padding-left: 6%;
    padding-top: 8%;
    width: 35%;
    
}

.hyperlinkType1{
    color: cyan;
}

.hyperlinkType2{
    color: skyblue;
}


#Unity3D_title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url(../Assets/Unity3D_Background_Cropped.png);
    background-size: cover;
    width: 827px;
    height: 350px;
}

#Unity3D_title h2{
    left: 28%;
}

#Unity3D_text{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 6%;
    width: 50%;
}

#Web_Development_title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url(../Assets/Web_Development_Background_Cropped.png);
    background-size: cover;
    width: 847px;
    height: 410px;
}

#Web_Development_title h2{
    left: 38%;
}

#Web_Development_text{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 6%;
    width: 50%;
}

/*
#game_design_title h2{
    margin: 0;
    position: relative;
    top: 50%;
    left: 42%;
}*/

.overlayText{
    margin: 0;
    position: relative;
    top: 45%;
}

footer{
    text-align: center;
    background-color: #3b6978;
    height: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer h4{
    font-size: 12pt;
    color: white;
}